/* body{
    border: 1px solid #38cc5177;
    border-color: crimson;

    background-color: #38cc511f;
    background-color: rgba(220, 20, 60, 0.295);
} */

/* shared styles */
.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.display-flex {
    display: flex;
}

.bg-light {
    background-color: antiquewhite;

}

.btn-primary {
    padding: 20px 30px;
    background-color:#ff900E;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    border-radius: 10px;
    border:none
}

/* work-specific styles */
/* nav related */


.brand {
    font-weight: 700;
    font-size: 3rem;
   
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nlink {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
}

.item {
    margin-right: 40px;
    list-style: none;
    font-size: 1.3rem;
}

.text-gray {
    color: #2e2b2b
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;


}


/* banner related */

.bcontent {
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
    padding: 25px 0px;
}

.btitle {
    font-weight: 700;
    font-size: 4rem;
}

.b-img{
    max-width: 100%;
    
}

/* media query */

@media screen and (max-width: 576px){
    .navbar,.nlink{
        flex-direction: column;
    }
}
