/* body{
    border: 1px solid #38cc5177;
    border-color: crimson;

    background-color: #38cc511f;
    background-color: rgba(220, 20, 60, 0.295);
} */

/* shared styles */
.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.display-flex {
    display: flex;
}

.bg-light {
    background-color: antiquewhite;

}

.btn-primary {
    padding: 20px 30px;
    /* background-color:#ff900E; */
    background-color: #0a6144;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    border-radius: 10px;
    border: none
}



/* work-specific styles */
/* nav related */


.brand {
    font-weight: 700;
    font-size: 3rem;

}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nlink {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
}

.item {
    margin-right: 40px;
    list-style: none;
    font-size: 1.3rem;
}

.text-gray {
    color: #2e2b2b
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;


}


/* banner related */

.bcontent {
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
    padding: 25px 0px;
}

.btitle {
    font-weight: 700;
    font-size: 4rem;
}

.b-img {
    max-width: 100%;

}




/* Main Related */

main {
    margin: 130px auto;
}

.team {
    align-items: center;
    max-width: 1440px;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro {
    margin-left: 120px;
    max-width: 530px;
    display: flex;
    flex-direction: column;
}

.intro>h2 {
    font-size: 3.5rem;
}

.intro>p {
    font-size: 1.1rem;
    text-align: justify;
}

#why {
    color: #660000;
}

#guic {
    color: #043927
}


/* some facts segment */

.fhead {
    max-width: 500px;

}

.fhead>p {
    font-size: 1.5rem;
    color: rgb(99, 95, 95);
    font-weight: 600;
    text-align: justify;
}

.sf {
    font-size: 4rem;
    color: darkred;
    font-weight: 600;
}

.fcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 0;
    justify-content: space-between;
    max-width: 1440px;

}

.fcard {
    width: 240px;
    height: 240px;
    border: seagreen solid 2px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.ficon {
    margin-top: 15px;
}

.fnum {
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgba(31, 136, 5, 0.664);
}

.fname {
    font-size: 1.6rem;
    font-weight: 600;
    color: darkorange;
    margin-top: 10px;
}

.fcard>div>img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}



/* media query */

@media screen and (max-width: 400px) {

    .navbar,
    .nlink,
    .team, .fcard {
        flex-direction: column;
    }

    .intro {
        margin: 10px auto;
    }

    .teams-img, .fcontainer{
        grid-template-columns: repeat(1, 1fr);
    }
}